Data Cleaning Pipeline

In [1]:
import rsf_occupancy_collector as rsf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [59]:
def get_df():
    sheet = rsf.setup_google_sheets()
    values = sheet.get_all_values()
    headers = values[0]
    rsf_df = pd.DataFrame(values[1:], columns=headers)
    return rsf_df

def filter_gym_data():
    #Only keep data points recorded after spring break (>= 31st)
    df = get_df()
    date_format = '%m/%d/%Y %I:%M:%p'
    df['pst_timestamp'] = pd.to_datetime(df['pst_timestamp'], format=date_format)
    spring_break_end = pd.Timestamp('2025-03-31')
    df = df[df['pst_timestamp'] >= spring_break_end]
    #Only keep data points recorded within hours of operation
    df = df[(df['pst_timestamp'].dt.hour >= 7) & (df['pst_timestamp'].dt.hour < 23)]
    return df

data = filter_gym_data()

In [60]:
#Each row represents a reading from the RSF crowd meter sensor starting from March 31st 2025
data

               timestamp percentage_capacity       pst_timestamp dow
374  2025-03-31 15:19:18               48.00 2025-03-31 08:19:00   2
375  2025-03-31 15:37:08               56.00 2025-03-31 08:37:00   2
376  2025-03-31 15:47:45               54.67 2025-03-31 08:47:00   2
377  2025-03-31 16:22:56               56.67 2025-03-31 09:22:00   2
378  2025-03-31 16:52:37               53.33 2025-03-31 09:52:00   2
..                   ...                 ...                 ...  ..
549  2025-04-04 23:07:57               73.33 2025-04-04 16:07:00   6
550  2025-04-04 23:28:03               83.33 2025-04-04 16:28:00   6
551  2025-04-04 23:41:29               90.67 2025-04-04 16:41:00   6
552  2025-04-05 00:37:16               98.00 2025-04-04 17:37:00   6
553  2025-04-05 02:11:32               72.67 2025-04-04 19:11:00   6

[163 rows x 4 columns]

Scope
- On average, what day of the week is the rsf most busy? least busy?
- Each day, at what time is the rsf least busy?

In [61]:
day_groupings = data.groupby('dow').count()
day_groupings

     timestamp  percentage_capacity  pst_timestamp
dow
2           31                   31             31
3           34                   34             34
4           34                   34             34
5           32                   32             32
6           32                   32             32